{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
	<div class="navbar navbar-default" role="navigation" id="myTab">

            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" data-toggle="tab">Recipes <span class="label label-default">Beta</span></a>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href= "{{ (url_for('login')) }}"id="home_tab">Home</a></li>
                        <li><a href="#about" >About</a></li>
                        <li><a href="#contact" >Contact</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                                </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if g.user.is_authenticated() %}
                        <li><button type="button" class="btn btn-default navbar-btn" id="sign-in">Sign in</button></li>
                        {% else %}
                        <li><button type="button" class="btn btn-default navbar-btn" id="sign-up">Sign up</button></li>
                        {% endif %}
                        
                        <li class="dropdown">
                            <a href="#profile" class="dropdown-toggle" data-toggle="dropdown">Profile<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#prof_view">Go to Profile</a></li>
                                <li><a href="#prof_edit">Edit Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="#signin">Sign in</a></li>
                                <li><a href="#signin">Sign in</a></li> 
                                <li><a href="#logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </div>
{% endblock %}
