<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1 style=text-align:center>Delete Profile</h1>
    <div class="container">
        <form class="form-signin" method=post action="delete">
            <input type="text" name="username" class="form-control" placeholder="Username" required>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-primary" type="submit">Delete Profile</button>
        </form>
    </div>

{% endblock %}