<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div style="text-align:center"
      <h1>New Recipe <hr></h1>
      
      <label for="amount">Amount: </label>
      <input id="amount">
      <label for="units">Unit: </label>
      <input id="units">
      <label for="ingredient">Ingredient: </label>
      <input id="ingredient">
      <button type="button" id="addingred"> Add Ingredient </button> 
      
      <div id="recipes" style="text-align:center"> 
     
      </div>
    
    </div>

{% endblock %}

{% block scripts %}

{{ super() }}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
    var n = 1; 
    var amount; 
    var unit; 
    var name; 
    var listOfIngredients;

    $(document).ready(function() {
      $.ajax({
        url: '/ingredNames',
        success: function(list) {
            $( "#ingredient" ).autocomplete({
              source: list.names
            });
        }
      });

      $.ajax({
        url: '/ingredUnits',
        success: function(list) {
            $( "#units" ).autocomplete({
              source: list.names
            });
        }
      });
    });     

    listOfIngredients = []

    function loadRecipe(n, amount, unit, name){
      $.ajax({
        success: function(){
          listOfIngredients.push({
            "quantity": amount,
            "unit": unit, 
            "name": name
          })
          $("#recipes").append("<p> " + n + ". " + amount + " " + unit + " " + name +  "</p> ");
        }
      });
    }
    

    $("#addingred").click(function(){

      amount = $("#amount").val();
      unit = $("#units").val();
      name = $("#ingredient").val();

      loadRecipe(n, amount, unit, name); 
      n = n+1; 
    });
    </script>

{% endblock %}