<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/scripts/bootstrap-wysihtml5-0.0.2.css"></link>
 <div style="text-align:center">
      <h1>New Recipe <hr></h1>
      <label for="title">Name of recipe: </label>
      <input id="title"> <hr>
      <label for="amount">Amount: </label>
      <input id="amount">
      <label for="units">Unit: </label>
      <input id="units">
      <label for="ingredient">Ingredient: </label>
      <input id="ingredient">
      <button type="button" id="addingred"> Add Ingredient </button> 

    </div>

    <div style="text-align:center">
    <hr>
    <textarea id="some-textarea" placeholder="Enter text ..." rows="4" cols="150"></textarea>
    <br>
    <button type="button" id="addsteps"> Add Steps Below </button>
      <hr>

      <div id="recipes" style="width:200px; margin-left:auto; margin-right:auto;">
      <h3> Ingredients </h3>
      </div>

      <h3> Procedure </h3>
      <div id="steps" style="text-align:center; width:200px; margin-left:auto; margin-right:auto;">
      </div>
      <a href="{{ (url_for('user', username = g.user.username)) }}" role="button" id="addrecipe"> Add Recipe </button>
    </div>
{% endblock %}

{% block scripts %}

{{ super() }}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="static/scripts/libs/js/wysihtml5-0.3.0_rc2.js"></script>
<script src="static/scripts/bootstrap-wysihtml5-0.0.2.js"></script>
<script>

    var n = 1; 
    var amount; 
    var unit; 
    var name; 
    var listOfIngredients;
    var steps; 
    var title; 

    $(document).ready(function() {
      $("#addrecipe").attr('disabled', 'disabled');
      $('#some-textarea').wysihtml5({
        "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true, //Italics, bold, etc. Default true
        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        "html": false, //Button which allows you to edit the generated HTML. Default false
        "link": false, //Button to insert a link. Default true
        "image": false, //Button to insert an image. Default true,
        "color": false //Button to change color of font  
      });


      $.ajax({
        url: '/ingredNames',
        success: function(list) {
            $( "#ingredient" ).autocomplete({
              source: list.names
            });
        }
      });

      $.ajax({
        url: '/ingredUnits',
        success: function(list) {
            $( "#units" ).autocomplete({
              source: list.names
            });
        }
      });
    });     

    listOfIngredients = []

    function loadRecipe(n, amount, unit, name){
      $.ajax({
        success: function(){
          listOfIngredients.push({
            "quantity": amount,
            "unit": unit, 
            "name": name
          })
          $("#recipes").append("<h4> " + n + ". " + amount + " " + unit + " " + name +  "</h4> ");
        }
      });
    }

    $("#addrecipe").click(function() {
      title = $("#title").val(); 
      var jsob = {"title": title, "ingredients": listOfIngredients, "steps": steps};
      console.log(jsob)
      $.ajax({
        url: '/newrecipe',
        type: "POST",
        data: JSON.stringify(jsob, null, '\t'),
        contentType: 'application/json',
        dataType: "JSON"
      });
    });

    $("#addsteps").click(function(){
      steps = $('#some-textarea').val();
      $("#steps").html(steps);
      $("#addrecipe").removeAttr('disabled');
    });

    $("#addingred").click(function(){
      amount = $("#amount").val();
      unit = $("#units").val();
      name = $("#ingredient").val();
      if(amount != '' && unit != '' && name != '') {
        loadRecipe(n, amount, unit, name); 
        n = n+1; 
      }
    });
    </script>

{% endblock %}