{% extends "base.html" %}
{% block content %}
<html>
  <head>
    {% if user %}
    <title> {{ user.username }}'s recipes </title>
    {% else %}
    <title>User not found</title>
    {% endif %}
  </head>

  <body>
      <div class="jumbotron">
        <h1> {{ user.username }} </h1>
        <h2> {{ user.firstname }} {{ user.lastname }} </h2>
        <h2> {{ user.email }} </h2>
        <h2> {{user.bio}} </h2>
      </div>
      
      <div>
          Recipes:
          {% for recip in user.recipe %}
          <li><a href="{{(url_for('recipes/{{recip.id}}'))}}">{{recip.name}}</a></li>
      </div>
  </body>
</html>
{% endblock %}